* {
	box-sizing:border-box;
}
html,body {
	background-color:#f6f5f4;
	font-family:'Ubuntu','Droid Sans','Helvetica Neue',sans-serif;
	font-size:calc(10px + 0.5vw);
	margin:0;
}
nav {
	display:flex;
	flex-direction:row;
	justify-content:center;
	padding:4px 4px 0 8px;
	background-color:#282c34;
}
nav a {
	width:100%;
	margin-right:4px;
	border-radius:6px 6px 0 0;
	padding:12px 0;
	background-color:#484c54;
	color:#61dafb;
	text-align:center;
	text-decoration:none;
	cursor:pointer;
}
nav a:hover {
	background-color:#61dafb;
	color:#282c34;
}
nav a:active, nav a:hover.active,.active {
	background-color:white;
	color:#282c34;
}
main {
	margin:0 8px 8px;
	box-shadow:1px 1px 4px #484c54;
	border-radius:0 0 6px 6px;
	padding:16px 1em 8px;
	background-color:white;
}
main * {
	margin:0 0 8px;
}
h1 {
	font-size:1.3em;
    border-bottom:1px solid #484c54;
}
button {
	border:1px solid #484c54;
	border-radius:6px;
	padding:4px;
	font-size:1em;
	background:#f6f5f4;
}
button:hover {
	outline:2px solid #61dafb;
	box-shadow:0 0 8px #61dafb;
}
button:active {
	box-shadow:inset 1px 1px 1px #484c54;
}
canvas {
    width:100%;
	border-radius:6px;
	background-color:#f6f5f4;
}
@media (min-width:640px) {
	nav a {
		width:auto;
		padding:12px 3vw;
	}
	main {
		width:80%;
		max-width:960px;
		margin:0 auto 8px;
	}
}
@media (max-width:640px) {
    * {
        outline:none !important;
    }
}
